ion-list {
  padding: 0;
}

ion-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
  
  &.unread {
    --background: rgba(var(--ion-color-primary-rgb), 0.05);
    
    h3 {
      font-weight: 600;
    }
  }
}

h3 {
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--ion-text-color);
}

p {
  font-size: 12px;
  color: var(--ion-color-medium);
  margin-bottom: 4px;
}

ion-note {
  font-size: 10px;
  display: block;
  margin-top: 4px;
}

ion-icon {
  font-size: 10px;
  color: var(--ion-color-primary);
}

.fw-bold {
  font-weight: bold;
}

.text-muted {
  color: var(--ion-color-medium);
}