.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

ion-card {
    text-align: center;
    margin: 0;
}

ion-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
